

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  html{
    font-size: 100% !important;
  }




 }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-xs-min) {
  html{
    font-size: 100% !important;
  }

  #welcome p
    { font-size:100vw;
    }

    #welcome ul
      { font-size:100vw;
    }


 }


 #header{
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   padding-top: 1.2%;
   padding-bottom: 2%;
 }




 #welcome
  { position: absolute;
 	 top: 15%;
 	 left: 0;
 	 width: 80%;
   height: auto;
   background-color: white;
   border-color: black;
   border-style: solid;
   border-width: 1px;
  z-index: 1000;
  padding-right: 2%;
  }



  #welcome p
    { font-size:1.5vw;
    }

    #welcome ul
      { font-size:1.5vw;
    }




body{
    max-width: 100%;
    overflow-x:hidden !important;
    margin:0;
}

html{
  overflow-x:hidden !important;
}

div{
  font-family: 'Exo-Regular';
}

@font-face {
    font-family:'Exo-Regular';
    src: url(../fonts/Exo-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

/*MAPS*/

iframe{
  width: 100%;
  height:100%;
}

#defaultMap{

  	display: none;
}
#criminalTresspassingMap{
  display: none;
}

#criminalMischiefMap{
  display: none;
}
#theftMap{
  display: none;
}
#warrentArrestMap{
  display: none;
}

#bikeTheftMap{
  display: none;
}

/*end maps*/

#bodyMap{
  background-color: white;
  height: 100vh;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: black;
  z-index: 10;
}





html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#googft-mapCanvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#googft-mapCanvas2 {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}







#fullwidth{
  width: 100%;
}





img{
	width:100%;
	height:100%;

}

img .fit { /* set relative picture size */
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
  }
